<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.mtl.VoidVoice" level="ERROR" />

    <logger name="ru.mtl.VoidVoice" level="DEBUG" />

    <logger name="ru.mtl.VoidVoice.tree.GestureDefiner" level="DEBUG" />

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>ITERATOR_FILTER</Name>
        <Marker>ITERATOR_MARKER</Marker>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>

    <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
        <Name>EXTEND_INFO_FILTER</Name>
        <Marker>EXTEND_INFO</Marker>
        <OnMatch>ACCEPT</OnMatch>
    </turboFilter>


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!--<logger name="org.hibernate" level="DEBUG"/>-->
    <!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->

</configuration>